.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
  background-color: #fff;
  border: 1px solid #d9d9d9;
}
.btn-prev {
  background-color: #fff !important;
  border-radius: 4px !important;
}
.btn-next {
  background-color: #fff !important;
  border-radius: 4px !important;
}
.el-pager li {
  background-color: #fff !important;
  border-radius: 4px !important;
}
.el-pager .is-active {
  background-color: #0b31ba !important;
}
.el-table__expanded-cell {
  padding: 0 !important;
  border-bottom: none !important;
}
.el-table td.el-table__cell {
  border-bottom: none !important;
}
.el-table th.el-table__cell.is-leaf {
  border-bottom: none !important;
}
.el-table__inner-wrapper::before {
  display: none;
}
:root {
  --el-color-primary-light-9: #0b31ba;
  --el-fill-color-light: #d8def4;
}
.current-row {
  color: #fff !important;
  background-color: #0b31ba !important;
}
.uploadimage-view img {
  width: 100%;
  height: 100%;
}
.uploadimage-view video {
  width: 100%;
  height: 100%;
}
.el-upload-dragger {
  padding: 0px !important;
}
.upload-icno {
  display: flex;
  align-items: center;
  justify-content: center;
}
